.slide-icon {
    font-size: 25px;
    color: var(--ion-color-success-shade);
  }
  .my-favorite-text-color {
    color:  var(--my-favorite-color);
  }
  
  p{ font-size: var(--my-favorite-font-size);
     color:     var(--my-favorite-color);}
  h1{ color: var(--my-title-color);}

  .close_icon {
    font-size: 40px;
    color: var(--ion-color-danger);
    float: right;
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 100;
    right: 0;
    position: absolute;
  }

  ion-toolbar{
    --color: var(--my-title-color);
    --background: var(--ion-color-danger);            
}