<ion-header >
  <ion-toolbar>
    <div class="ion-text-center">
    <ion-title>YAMAHA</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon name="close" class="close_icon" (click)="close()"></ion-icon>
  <swiper-container 
  [initialSlide]="0"
  [slidesPerView]="1"
  [speed]="400"
  >
   <swiper-slide *ngFor="let slide of slides">
    <div class="ion-text-left">
    <h1 class="my-favorite-text-color">{{slide.title}}</h1>
    </div>
    <img src={{slide.img}}>
    <ion-icon name="{{slide.icon}}" class="slide-icon"></ion-icon>
    <div class="ion-text-justify">
    <p>{{slide.description}}</p>
    </div>
   </swiper-slide>

  </swiper-container>
</ion-content>
