<ion-header >

</ion-header>

<ion-content>
  <swiper-container [initialSlide]="0">

   <swiper-slide>
    <h1 class="my-favorite-text-color">MT 15</h1>
    <img src="assets/images/mt15.jpg" alt="">
    <ion-icon name="fitness-outline" class="slide-icon"></ion-icon>
    <p>Diseñada con todo el ADN de la gama MT,
       la MT-15 es una motocicleta de diseño avanzado,
        aceleración agresiva y diseño ágil. Además,
         cuenta con tecnología avanzada te mantiene
          conectado con tu lado oscuro a través de la aplicación Y-Connect.</p>
   </swiper-slide>

   <swiper-slide>
    <h1>MT 03</h1>
    <img src="assets/images/mt03.png" alt="">
    <ion-icon name="fitness-outline" class="slide-icon"></ion-icon>
    <p>Diseñada con todo el ADN de la gama MT,
      la MT-03 es una motocicleta de diseño avanzado,
       aceleración agresiva y diseño ágil. Además,
        cuenta con tecnología avanzada te mantiene
         conectado con tu lado oscuro a través de la aplicación Y-Connect.</p>
   </swiper-slide>

   <swiper-slide>
    <h1 class="my-favorite-text-color">MT 07</h1>
    <img src="assets/images/mt07.jpg" alt="">
    <ion-icon name="fitness-outline" class="slide-icon"></ion-icon>
    <p>Diseñada con todo el ADN de la gama MT,
      la MT-07 es una motocicleta de diseño avanzado,
       aceleración agresiva y diseño ágil. Además,
        cuenta con tecnología avanzada te mantiene
         conectado con tu lado oscuro a través de la aplicación Y-Connect.</p>
   </swiper-slide>

   <swiper-slide>
    <h1 class="my-favorite-text-color">MT 09</h1>
    <img src="assets/images/mt09.jpg" alt="">
    <ion-icon name="fitness-outline" class="slide-icon"></ion-icon>
    <p>Diseñada con todo el ADN de la gama MT,
      la MT-09 es una motocicleta de diseño avanzado,
       aceleración agresiva y diseño ágil. Además,
        cuenta con tecnología avanzada te mantiene
         conectado con tu lado oscuro a través de la aplicación Y-Connect.</p>
   </swiper-slide>

   <swiper-slide>
    <h1 class="my-favorite-text-color">MT 10</h1>
    <img src="assets/images/mt10.jpg" alt="">
    <ion-icon name="fitness-outline" class="slide-icon"></ion-icon>
    <p>Diseñada con todo el ADN de la gama MT,
      la MT-10 es una motocicleta de diseño avanzado,
       aceleración agresiva y diseño ágil. Además,
        cuenta con tecnología avanzada te mantiene
         conectado con tu lado oscuro a través de la aplicación Y-Connect.</p>
   </swiper-slide>

  </swiper-container>
</ion-content>
